.welcome-message {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  text-align: center;
  font-weight: normal !important;
}

.available-crops {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  text-align: center;
  font-weight: normal;
}

.no-crops-message {
  text-align: center;
  margin-top: 20px;
}

.no-crops-image {
  margin-top: 10px;
  max-height: 420px;
}

.img {
  margin-top: 15px;
  margin-bottom: 20px;
  max-height: 250px;
  aspect-ratio: 16/9;
}

.terrain-card {
  cursor: pointer;
}

.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.dialog-title {
  text-align: center;
}

.card-media {
  margin-bottom: 30px;
  margin-top: 10px;
}

span {
  font-weight: bold;
}

.ready-for-sale {
  color: green !important;
  font-weight: bold;
}

.dialog-actions {
  justify-content: center;
  margin-top: -10px;
}

Button {
  color: green;
}

#remaining-days {
  font-weight: normal;
}

.card {
  margin-top: 20px;
}

.card-title {
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal !important;
}
