.welcome-message {
  margin-top: 30px !important;
  margin-bottom: 25px !important;
  text-align: center;
  font-weight: normal !important;
  font-size: 1.2rem !important;;
}

.available-crops {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  text-align: center;
  font-weight: normal;
}

.no-crops-message {
  text-align: center;
  margin-top: 20px;
}

.no-crops-image {
  margin-top: 10px;
  max-height: 420px;
}

.img {
  margin-top: 15px;
  margin-bottom: 20px;
  max-height: 180px;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

.pagination {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.dialog-title {
  text-align: center;
}

.card-media {
  margin-bottom: 30px;
  margin-top: 10px;
}

span {
  font-weight: bold;
}

.ready-for-sale {
  color: green !important;
  font-weight: bold;
}

.dialog-actions {
  justify-content: center;
  margin-top: -10px;
}

Button {
  color: green;
}

#remaining-days {
  font-weight: normal;
}

.card {
  margin-top: 20px;
}

.card-title {
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal !important;
  font-size: 1.2rem !important;;
}

#handle-add-terrain {
  max-width: 5px;
  min-width: fit-content;
  min-height: fit-content;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  align-items: center;
}

.info-button {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  font-size: 0.8rem !important; 
  padding: 4px 8px !important;
}

.about-us-title {
  text-align: center;
  margin-bottom: 35px !important; 
  margin-top: 0px !important; 
  color: white;
}

.about-us-text {
  text-align: justify;
  font-size: larger; 
  color: white;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-card {
  background-color: #dcedc8;
  border-radius: 16px;
  padding: 12px;
  margin-top: 35px;
  width: auto;
  height: auto;
  background-color: #0E402D !important;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.logo-image {
  width: 100%;
  max-width: 400px; 
  margin-top: 80px;
  margin-left: 150px;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

